<div class="comments">
  {{#each this}}
  <section class="comment">
    
    <div class="text">
      {{comment_text}}
    </div>

    <div class="meta">
    By {{user.username}} on {{format_date created_at}}
    
    </div>
  </section>
  {{/each}}
</div>