{{!-- test multi-part form --}}
<section>
  <h2>Post an item for sale</h2>

  <form class="new-post-form">
    <div>
      <label for="product">Product</label>
      <input type="text" id="product" name="product" />
    </div>
    <div>
      <label for="size">Size</label>
      <input id="size" name="size" />
    </div>
        <div>
      <label for="color">Color</label>
      <input id="color" name="color" />
    </div>
    <div>
      <label for="price">Price</label>
      <input id="price" name="price" />
    </div>
    <input type="Submit" value="Create Post"> 
    
  </form>

{{#if clothing_product.length}}
<section>
  <h2>Items for Sale</h2>
  <ol>
    {{#each clothing_product as |clothing_product|}}
    <li>
      {{> post-info clothing_product}}
      <a href="/dashboard/edit/{{clothing_product.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}  


<script src="/js/create-post.js"></script>