
{{> post-info clothing_product }}

{{#if loggedIn}}
  <div>
    <button type="button" class="delete-post-btn is-danger is-light" >Delete</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/js/delete-post.js"></script>
{{/if}}